*           text=auto

*.vson      text eol=lf encoding=UTF-8
*.json      text eol=lf encoding=UTF-8
*.ad        text
*.md        text
*.c         text eol=lf
*.h         text eol=lf
*.rsrc      text eol=lf
